# Database Configuration

# PostgreSQL
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

RAILS_ENV=development
RAILS_MAX_THREADS=5

# Test Database
TEST_DATABASE_NAME=easy_nutri_test

# USDA_API_KEY=your_api_key_here

# Heroku Production
# DATABASE_URL=postgresql://...

